/*
==========================================
 about section Design
==========================================
*/
.about-section{
  background: $--black-color;
}
.about-section .card,
.about-section .card img{
  border-radius: 0.625rem;
}
.about-section .text-sec{
  padding-left:2rem;
}